*{
  margin: 0;
  padding: 0;
  
  font-family: 'Comfortaa', sans-serif;
font-family: 'Playpen Sans', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Work Sans', sans-serif;
}


.movies{
  display: flex;
  flex-wrap: wrap;
}
.app{
  padding: 1.5rem;
  background-color:black;
  
}
.search-nav{
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}
.title{
  padding-right: 3rem;
}
.title h1{
  color: white;
}
.search-box form input{
  border: 0;
  outline: 0;
  margin-right: 0.1rem;
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  
  
  
  
}
.search-box form button{
  border: 0;
  outline: 0;
  padding: 0.3rem;
  border-radius: 1rem;
  background-color: rgb(80, 102, 227);
  color: white;
  font-size: 1rem;
  cursor: pointer;
 
  
}







