*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.movies{
  display: flex;
  flex-wrap: wrap;
}
.app{
  padding: 1.5rem;
  background-color: rgb(50, 50, 103);
}
.search-nav{
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;
}
.title{
  padding-right: 3rem;
}
.title h1{
  color: white;
}
.search-box form input{
  border: 0;
  outline: 0;
  margin-right: 0.1rem;
  border-radius: 1rem;
  
}
.search-box form button{
  border: 0;
  outline: 0;
  padding: 0.3rem;
  border-radius: 1rem;
  
}